[2013-04-23 11:39] alanhoff opened #1 "Ubuntu 12.04 install error"
Hello there,

I found out that I need to run this code to install imagemagick's c++ headers:

[code]

But when I try `npm install imagemagick-native` it gives me this error:
npm-debug.log: https://gist.github.com/alanhoff/ef14e750a6a726644c62
stdout: https://gist.github.com/alanhoff/7eebdd03884e9f2f63c6

What could it be?

[2013-04-24 12:03] #1 closed, assigned to nobody

[2013-06-14 14:11] fivethreeo opened #3 "Make convert async with callback"

[2013-06-14 16:13] #3 closed, assigned to nobody

[2013-07-10 12:00] daslicht opened #4 "OSX"
Hello,
sicne the brew install failed under osx I tried the following:

http://cactuslab.com/imagemagick/

but when I run sudo npm install imagemagick-native i get:

[code]

Any idea whats going on there?

[2013-07-11 04:41] daguej opened #5 "Not building on x86 Windows"
Running on Win 7 x64 (32-bit node), I get:

[code]

[2013-07-13 08:12] #4 closed, assigned to nobody

[2013-07-14 00:53] #5 closed, assigned to nobody

[2013-08-02 06:57] RobinQu opened #7 "how to assign gravity or XY position?"
or such options are ignored?

[2013-09-03 05:23] kristjanjansen opened #10 "Add streaming support?"
Is there are way to pipe the stream through the convert()?

[2013-11-11 21:35] anakhwa opened #14 "Unable to install on Ubuntu 12.04.3 LTS and node v.0.11.9-pre"
ubuntu@mongodb:~/node/customcode/TestNodeExpressProject$ sudo npm install -g imagemagick-native
npm http GET http://registry.npmjs.org/imagemagick-native
npm http 304 http://registry.npmjs.org/imagemagick-native

gyp ERR! configure error
gyp ERR! stack Error: "pre" versions of node cannot be installed, use the --nodedir flag instead
gyp ERR! stack     at install (/usr/local/lib/node_modules/npm/no

[2013-11-12 07:15] #7 closed, assigned to nobody

[2013-11-12 07:16] #10 closed, assigned to nobody

[2013-11-12 20:05] #14 closed, assigned to nobody

[2013-11-12 20:08] anakhwa opened #15 "Please add ability to pull EXIF data from image"
for example options would be

{
    srcData:     required. Buffer with binary image data
    debug:       optional. 1 or 0
    width: true,
     make: true,
    model : true,
    orientation: true
}

this indicates that selective exif data is to be pulled.

[2013-11-29 21:12] scalebig opened #17 ""Symbol not found" issue for OSX 10.9"
Node is reporting the following error when using imagemagick-native:

[code]

environment:
Node: v0.10.22 - installed from nodejs.org package
OSX: 10.9
ImageMagick: stable 6.8.7-0 installed from homebrew
Xcode: 5.02

Thank you in advance :)

[2013-12-17 19:05] elad opened #19 "Strip comments/profiles when converting"
When switching from node-imagemagick to node-imagemagick-native I noticed that the resized (and probably all converted) images with the native module are significantly larger than before.

A quick look at the code showed that node-imagemagick calls convert with -strip which removes all comments/profiles from the image. To illustrate:

[code]

The way I achieved the same is with a simple image.stri

[2013-12-25 19:56] elad opened #20 "Flip support"
I need to flip images.

Code:

[code]

Usage:

[code]

[2014-01-07 14:34] pociej opened #21 "convert error"
Hi i had strange error when trying to convert images form buffer.
Here is code :

[code]

i have error : [Error: end cannot be longer than parent.length]
im using node v 10.24 imagemagick-native v 0.2.9
Can anybody help me ?
thx in advance.

[2014-01-11 20:50] aaronsnyder opened #22 "Calling identify kills node app silently"
The below code causes an issue where the node app dies silently when the block that calls identify is run. Commenting out only that block of code will allow the app to deliver the image, and continue listening for more requests.

I'm running node v0.10.12, and below is the convert -version output:
Version: ImageMagick 6.8.7-7 Q16 x86_64 2014-01-09 http://www.imagemagick.org
Copyright: Copyright (C

[2014-01-12 19:08] #22 closed, assigned to nobody

[2014-01-15 10:32] atrniv opened #23 "Asynchronous conversion"
It would be great if the conversion process could be made asynchronous so that it doesn't slow down the responsiveness when used in a web server.

It would be pretty straightforward to do this using [uv_queue_work](http://nikhilm.github.io/uvbook/threads.html#libuv-work-queue)

[2014-01-31 03:40] #15 closed, assigned to nobody

[2014-02-07 09:17] fantasywind opened #26 "OSX requirement"
OSX need to install **pkg-config** manually

please add to README :)

[code]

[2014-02-07 21:15] diffalot opened #27 "transparency of pngs is removed"
i'm doing two convert calls on images, first to pad the images to an even number of pixes then to reduce the image size by half (processing retina images for non-retina browsers), but my final images have white backgrounds instead of transparency.

has anyone else encountered this?

[2014-02-18 01:33] lsvx opened #29 "Segmentation fault: 11"
Hi,

Thanks for writing a great module. I am currently doing some experimenting and am running into issues when using the `identify()` method.  Interestingly, `convert()` and `quantizeColors()` both work and the `identify` command works in the terminal, but not with your module. I am running Mac OSX 10.9.1 and installed imagemagick 6.8.7-7 through Homebrew. Here is the setup.

I download the node

[2014-02-18 04:22] #29 closed, assigned to nobody

[2014-03-30 18:31] alphacentory opened #30 "trying to install on aws amazon linux build"
here is the error i am getting.
 Call to 'Magick++-config --ldflags --libs' returned exit status 127. while trying to load binding.gyp

[2014-03-31 03:46] #30 closed, assigned to nobody

[2014-05-06 16:38] #17 closed, assigned to nobody

[2014-05-12 05:45] JonathanPorta opened #31 "npm install fails on node-gyp rebuild"
I am having trouble getting this module installed. I am using Fedora 20.

As for ImageMagick, here is what I have installed:

[code]

I also have the Fedora dev tools group installed.

Here is the output when I try to install:

[code]

[2014-05-18 00:03] 19h opened #32 "Use NAN für 0.11-support."
Ho,

we'd like to switch to imagemagick-native in production but since we're deploying 0.11.12 it's simply not compiling. Anyone against using NAN?

Cheers

[2014-05-18 00:05] #32 closed, assigned to nobody

[2014-05-21 14:29] couto opened #33 "Fails with .TIF images"
I'm unsure if this is a problem with `node-imagemagick-native`, the system libs or if i'm just doing something wrong. However whenever I try to convert a `.tif` image, the process fails.

You can see more in this [gist](https://gist.github.com/Couto/f57dcd3a39c33a056bfb), which includes the image that I'm currently using, the node script and the vagrant setup that provides the ubuntu environment w

[2014-06-05 00:53] cloudgifts opened #35 "SmartOS Installation"
Any tips for running on SmartOS (Joyent)?  Right now, I am getting this error:

Error: ld.so.1: node: fatal: libMagick++.so.4: open failed: No such file or directory
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (/home/node/cloudcash-server/app/node_modules/i

[2014-06-27 20:39] harrisonlee opened #38 "Installed with npm, no getConstPixels method"
It seems like the npm install of this library is missing some method exports in the init method. After using _npm install imagemagick-native_, the init method in imagemagick.cc looks like this:

[code]

Seems like it's missing these lines:

[code]

Any thoughts?

[2014-06-28 00:13] #38 closed, assigned to nobody

[2014-06-30 13:36] TimWolla opened #40 "Travis CI status is broken"
It looks like `npm test` does not properly return a non-zero status if some of the tests fail. Look at this job for my pull request (which totally breaks `Identify`): https://travis-ci.org/mash/node-imagemagick-native/jobs/28777967

[2014-07-07 08:30] tfzxyinhao opened #41 "install on unix has some problem"
i don't know what's the version of imagemagick when you install on your system.
now the compiler give me some error show that imagemagick library may change some function in new release version,something like add some function and remove some function,so node-imagemagick-native must install fail.
so do you have some solution to fix this problem ?

temporary at least, https://github.com/mash/node-i

[2014-07-18 00:05] stevenvachon opened #43 "Error handling?"
How would we go about handling errors? `try...catch`?

[2014-07-18 00:30] stevenvachon opened #44 "Please add ability to extract alpha channel"
I'm currently stuck using https://github.com/aheckmann/gm for this. I wish I knew C++ so that I could help.

[2014-07-18 14:11] mash opened #45 "Maintener Wanted"
Actually, honestly, I'm not using this in my own project anymore. Nothing bad about node or this module, I just quit my job last year and not manipulating images right now.

I can merge pull requests and increment version semantically in my spare time, if the pull request looks good, but if you're using this module in real work or somehow rely on this, please raise your hand!

[2014-07-23 13:46] #43 closed, assigned to nobody

[2014-09-11 10:02] laszbalo opened #46 "Provided benchmark correct only for small files"
I have ran your benchmark with medium/large size images and got completely different result.
According to my measurements, imagemagick-native was 1.5/3 times slower than imagemagick.

I have tested it with [this photo](http://wallpaperswide.com/platform_9_and_three_quarters-wallpapers.html).

I downloaded the "Standard 4:3" and "HD 16:9" sizes of the same photo.

Here are my results:
1. Provided t

[2014-09-16 03:56] #19 closed, assigned to nobody

[2014-09-16 04:14] #40 closed, assigned to nobody

[2014-09-16 11:17] lovell opened #48 "1.3.0 + Centos 6 = compilation error with "standard" version of ImageMagick-c++-devel"
RHEL/Centos 6 provides version 6.5.4.7 of `ImageMagick-c++-devel` as the most recent version in its `Updates` repo.

`imagemagick-native` v1.2.2 compiles against  6.5.4.7, but it looks like v1.3.0 takes advantage of some more recent API additions and fails to compile.

[code]

[Les RPM de Remi Repo](http://rpms.famillecollet.com/) provides `ImageMagick` 6.8.9.7 as the slightly renamed `ImageMagick

[2014-10-03 03:01] tarqd opened #50 "Library license"
Can you list what license you are using for this project? Can it be used in commercial projects?

Edit: Just noticed it's MIT in the readme, but can you put it in the package.json so it's more clear?

[2014-10-16 09:04] #50 closed, assigned to nobody

[2014-10-16 11:49] #45 closed, assigned to nobody

[2014-10-16 11:49] #21 closed, assigned to nobody

[2014-10-16 16:08] #41 closed, assigned to nobody

[2014-10-16 16:50] #31 closed, assigned to nobody

[2014-10-16 17:02] #46 closed, assigned to nobody

[2014-10-16 19:23] #48 closed, assigned to nobody

[2014-10-17 17:48] #26 closed, assigned to nobody

[2014-10-17 17:49] #35 closed, assigned to nobody

[2014-10-22 12:06] homerjam opened #52 "Please add ability to specify exact crop coords"

[2014-10-22 12:07] homerjam opened #53 "Please add option to specify gravity when cropping (using aspectfill)"

[2014-10-24 10:48] #20 closed, assigned to nobody

[2014-10-24 13:09] #33 closed, assigned to nobody

[2014-10-27 10:13] #27 closed, assigned to nobody

[2014-10-27 11:09] #23 closed, assigned to nobody

[2014-11-01 11:45] TimWolla opened #55 "Streams2 interface"
I'd like to see a [streams2](http://nodejs.org/api/stream.html) API for functions like `convert`. While the greatest advantage the lowered memory usage probably will not be usable here it will allow for more clean code:

[code]

vs.

[code]

[2014-11-01 18:03] #55 closed, assigned to nobody

[2014-11-04 19:34] danielchicote opened #58 "ERROR reading files"
Hello, i have this errors passing the test:

C:\nodejs\node_modules\imagemagick-native\test>node test.js
image magick's version is: 6.7.7
TAP version 13
convert invalid number of arguments
ok 1 should be equal
ok 2 should be equal
convert invalid resizeStyle
ok 3 err message
ok 4 buffer undefined
 convert srcData is a Buffer
ok 5 should be equal
ok 6 buffer undefined
 convert filter not supported

[2014-11-07 22:40] #58 closed, assigned to nobody

[2014-11-09 23:51] TimWolla opened #60 "imagemagick-native crashes with SIGABRT"
When passing an invalid format to `Convert` imagemagick-native crashes with a SIGABRT:

[2014-11-12 15:13] #60 closed, assigned to nobody

[2014-11-17 18:53] vadimgoncharov opened #63 "background none in svg2png covert"
When I converting svg with transparent background to png, I get png with white background color instead of transparent.

If I run "convert -background none file.svg file.png" from command line then everything works fine.

How can I add "-background none" parameter in convert API?

[2014-11-18 13:22] #53 closed, assigned to nobody

[2015-01-27 13:15] wouterb opened #66 "Build fails on solaris"
Solaris is missing in the OS built target conditions. This results in a incomplete build on solaris systems like smartOS.

[2015-01-27 18:17] #66 closed

[2015-02-02 10:28] leegee opened #68 "Question about getConstPixel return value"
I was really pleased to find this module, but my lack of familiarity with the C API is letting me down  — please could you provide a little more info on the return value of getConstPixel? I realise the colour value relates to the quantum depth of my IM install, but am unsure who to convert the values to the format returned by the quantizeColors method.

Thanks in anticipation
Lee

[2015-02-05 12:43] leegee commented on #68
OK — read the source and C API

[2015-02-05 12:43] #68 closed

[2015-02-05 19:31] elad commented on #68
Hey, sorry for not picking this up earlier, I have very little time these days. :/ Do you feel like replying with a blurb that would have helped you for me to include in the documentation?

[2015-02-06 01:36] alejonext opened #69 "Ha error in linux"
[code]

[2015-02-07 09:24] elad commented on #69
Do you have the native libraries installed? It doesn't look like it...

[2015-02-07 17:39] alejonext commented on #69
mm ... which are the libraries?

[2015-02-07 17:58] TimWolla commented on #69
You need the dev libraries (`libmagick++-dev` for Debian / Ubuntu).

[2015-02-08 12:53] clemsos commented on #69
Same problem here (with ```libmagick++-dev``` installed)

[code]

[2015-02-08 14:13] clemsos commented on #69
On Debian Jessie, ```sudo apt-get install graphicsmagick-libmagick-dev-compat``` seems to add Magick++-config to the path, but it looks like it will just turn ```Magick++-config``` into a link to ```GraphicsMagick++-config```. I don't know C++ really (sorry) but GraphicsMagick is different from ImageMagick so I guess it is why this doesn't work.

[code]

Then it won't work neither

[code]

[2015-02-08 16:11] clemsos commented on #69
Ok, I solved it by doing

   sudo apt-get purge graphicsmagick-libmagick-dev-compat

then look for the lib

[code]

add to the path and reload bash
[code]

Now it works.

[2015-02-09 22:46] dcharbonnier opened #70 "allow grayscale conversion"
similar to blur or flip it should be nice to have an option to convert an image to grayscale

[2015-02-09 22:47] dcharbonnier opened #71 "allow grayscale conversion"
similar to blur or flip it should be nice to have an option to convert an image to grayscale

[2015-02-09 22:47] #71 closed

[2015-02-09 22:47] dcharbonnier opened #72 "resizeStyle no upscale"
Add an option to allow downscale only

[2015-02-10 03:05] dcharbonnier commented on #72
see pull request #75 for proposed implementation

[2015-02-11 12:15] elad commented on #70
Closing in favor of #74.

[2015-02-11 12:15] #70 closed

[2015-02-13 15:51] kjda opened #76 "Not working on Node v0.11.16"
This module works fine on node v0.10.* but if I try to use it with v0.11.16, I get the following error when I run the application. & yes, I did reinstall all node modules after switching to v0.11.16

[code]

[2015-02-27 10:28] MonsJovis commented on #72
+1

[2015-03-02 11:06] CREEATION commented on #76
:+1:

[2015-03-03 13:40] enagorny commented on #63
@vadimgoncharov Did you find any workaround or fix for this?

[2015-03-04 19:48] trueter commented on #69
I'm trying to get this to work on heroku. The best way would be to update this repo, but I don't feel comfortable fixing the compile step myself. Can someone help trying what @clemsos did?
https://github.com/mcollina/heroku-buildpack-imagemagick see bin/compile

[2015-03-05 11:09] enagorny opened #77 "Density argument didn't work as expected."
Density doesn't work for me for converting from svg to png.

code
[code]

original svg file http://take.ms/Sxra2 (github doesn't support svg in comments yet).

and result
![help](https://cloud.githubusercontent.com/assets/1202150/6466625/b6440054-c1d1-11e4-8f28-45dc8fa2254f.png)

while converting by imagemagick
`convert -resize 2000x2000 -density 1000 help.svg help2.png`
produces:
![help2](https:/

[2015-03-08 09:26] martingg88 opened #78 "guide to install on window 8"
any guide to use this native library on window 8?

[2015-03-08 22:00] elad commented on #78
Nope, sorry - I don't use Windows. If you feel like writing one though feel free to submit a pullup request. :)

[2015-03-08 22:00] #78 closed

[2015-03-08 22:00] elad commented on #76
Yep, seeing this too. I'm working on making this module work with node v0.12, just need to find the time to finish it up and test...

[2015-03-09 21:39] elad commented on #76
@geta6 fixed it first in #79. :)

[2015-03-09 21:39] #76 closed

[2015-03-10 18:43] mbouclas opened #80 "Throws error even in the included tests"
i'm getting the following error both on windows and linux :

This is the error i'm getting on linux
[code]

And this on windows :

[code]

Any ideas?

[2015-03-10 19:02] elad commented on #80
Try `npm test`

[2015-03-10 19:04] mbouclas commented on #80
not ok test/test.js ..................................... 0/1
    Command: "c:\Program Files (x86)\nodejs\node.exe test.js"
    TAP version 13
    not ok 1 test/test.js
      ---
        exit:    1
        stderr:  |
          module.js:355
            Module._extensions[extension](this, filename);
                                         ^
          Error: The specified module could not be found.

[2015-03-10 19:15] elad commented on #80
Okay, I'll look into it when I get a chance. It's possible that this is due to a new node.

[2015-03-10 22:31] mbouclas commented on #80
cheers

On 3/10/15, Elad Efrat <notifications@github.com> wrote:

[2015-03-17 10:18] lnwdr commented on #52
+1

I'd love to try this for <https://github.com/berlinonline/converjon> instead of using CLI imagemagick but I need precise cropping.

[2015-03-20 18:23] zhubofei opened #81 "Can't install"
child_process: customFds option is deprecated, use stdio instead.
/usr/local/bin/Magick++-config: line 53: pkg-config: command not found
/usr/local/bin/Magick++-config: line 56: pkg-config: command not found
gyp: Call to 'Magick++-config --ldflags --libs' returned exit status 0. while trying to load binding.gyp
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR!

[2015-03-24 18:20] yosuke-furukawa commented on #81
next imagemagick-native will be solve this issue.
If you would like to solve the problem, you try to use the following command.

[code]

@mash @elad do you have a plan next release? and when??

[2015-03-26 02:27] AVVS commented on #52
#82 this should fix it

[2015-04-06 10:36] Arno-v opened #87 "FreeBSD support in binding.gyp"
Hello,
I was trying to install on FreeBSD but FreeBSD is not in de binding.gyp. If you change the line
['OS=="linux" or OS=="solaris"', { # not windows not mac

to

['OS=="linux" or OS=="solaris" or OS=="freebsd"', { # not windows not mac

it will work fine.
Thank you,

Arno de Vries

[2015-04-09 21:14] gre opened #88 "imagemagick-native doesn't compile on io.js"
I am able to make imagemagick-native work with Node.js.
but impossible to make it compile for io.js: I've tried both `iojs-v1.2.0` and `iojs-v1.6.4`

I'm on OS X (10.10.2)
Version: ImageMagick 6.8.9-8 Q16 x86_64 2014-10-23 http://www.imagemagick.org

[code]

[2015-04-11 10:59] elad commented on #88
A recent pull request (#79) should have fixed it. I haven't had the chance to release a new version with it yet - but I promise to do so soon! - so in the meantime you could try cloning `master` and testing that.

[2015-04-11 12:21] gre commented on #88
It compiles!
Thanks

[2015-04-11 12:21] #88 closed

[2015-04-19 23:25] visionscaper opened #89 "Getting 'unhanded error' when using identify on a JPEG"
Hello,

I have a [JPEG file](https://dl.dropboxusercontent.com/u/9403467/share/my.jpg) that results in an 'unhandled error' when using imagemagick++'s identify through the imagemagick-native node module. However, when I simply use the command line version of identify, no error occurs.

Example node.js code that fails:

    fs.readFile('my.jpg', function(err, imageData) {
        imagemagick.identi

[2015-04-20 00:05] visionscaper commented on #89
UPDATE:

Due to an error in my code the JPEG linked in my first message was missing 1 byte at the end of the file.
After resolving the issue, identify worked as expected. The robustness issue of imagemagick++ still stands however. I was really thrown off by the fact that the command line identify method worked.

[2015-04-20 00:05] #89 closed

[2015-04-20 00:17] elad commented on #89
ImageMagick throws exceptions for both warnings and errors. Some warnings are silently ignored by the command line tool, but when using the API the code is required to catch and handle them explicitly. It could be that this is such a case - where an ignorable warning was simply not handled properly.

Could you please try with `ignoreWarnings` set to `true`?

[2015-04-20 00:26] visionscaper commented on #89
Hi @elad Thanks for your responds. Unfortunately, I'm not getting any additional info when setting `ignoreWarnings` to `true`

    debug: on
    ignoreWarnings: 1
    err : unhandled error
    result : undefined

Cheers,

 -- Freddy

[2015-04-20 00:33] pentode commented on #89
FWIW, using IM 6.8.9-9, I get a result on the truncated jpg file when setting ignoreWarnings: true.

@visionscaper did you install this module from github or the npm repository?  If you did install from npm repository could you update your dependency version to "mash/node-imagemagick-native" to install from github and try again?

I think it would be useful--and might become a requirement for me at

[2015-04-29 18:17] more10 opened #90 "Cannot install in windows"
I have Python 2.7.9, Imagemagick installed from ImageMagick-6.9.1-2-Q16-x64-dll.exe. Visual Studio Community 2013. Windows 7 64 bit.

Output:
[code]

[2015-04-29 18:18] more10 commented on #90
Contents of npmdebug:
[code]

[2015-04-29 19:53] elad commented on #90
I see you're using node 0.12. The only thing I can suggest is to try with the latest sources, they have a fix that is required for that node version.

Other than that, I don't use Windows or have any machines with it so I can't really try to reproduce and debug the issue, so hopefully someone else jumps in. :)

[2015-04-30 08:50] more10 commented on #90
I have downgraded to 0.10.38. Problem persists
[code]

[2015-05-27 09:59] bit-seq commented on #80
For Node `v0.12.4` on Windows I also experienced this errors raised by @mbouclas:

[code]

@elad

Confirmed! With switching back to [`v0.12.0`](http://nodejs.org/dist/v0.12.0/) the installation succeeded.

[2015-06-09 14:44] more10 commented on #90
This is related: http://www.imagemagick.org/discourse-server/viewtopic.php?t=27272

[2015-06-11 02:46] amit777 opened #93 "Problem building on centos7 with iojs 2.2.1"
Here is the output of the npm install (I've installed the latest ImageMagick from the remi repo using yum):

==== Output from NPM install ===

npm install git://github.com/mash/node-imagemagick-native.git

-

make: Entering directory `/opt/app/node_modules/imagemagick-native/build'
  CXX(target) Release/obj.target/imagemagick/src/imagemagick.o
In file included from ../node_modules/nan/nan_new.h:19

[2015-06-25 18:36] kadosh1000 opened #94 "load base64 string as SrcData"
is there any way to load a base64 string as my data source? also tried to send it as a buffer using

new Buffer(base64String, 'base64')

[2015-07-03 13:06] doup commented on #88
@elad can you publish the io.js fixed version? :-)

[2015-07-03 13:20] doup commented on #88
For reference: I've checked and in io.js `1.8.2` works, on `2.x` fails.

[2015-07-09 09:07] steelbrain opened #95 "Magick++-config is depreciated"
https://bugs.launchpad.net/ubuntu/+source/imagemagick/+bug/1449697/comments/1
^ it's not available in `/usr/bin/` in the binary packages for Ubuntu 15.04

[2015-07-10 21:54] lovell commented on #95
Assuming a 64-bit system, the following command will create a symlink for a temporary workaround:
[code]
The proper fix is for the `binding.gyp` file in this module to first try `pkg-config` to locate Imagemagick's header files, then fall back to `Magick++-config` for older versions.

[2015-07-10 21:55] steelbrain commented on #95
I did that symlink but it didn't work for me :(
I can't post the error message now but I if you need it just let me now

[2015-07-10 22:04] forceoflight opened #96 "imagemagick.identify throws Segmentation fault: 11"
var photoData = fs.readFileSync(photoPath);
var identify = imagemagick.identify({
   srcData: photoData,
   debug: 1
});

mac:scripts mnikkane$ node footer.js
composite photo photos/DSC_8634.jpg
debug: on
original width,height: 1477, 1920
Segmentation fault: 11

mac:scripts mnikkane$ brew info imagemagick
imagemagick: stable 6.9.0-9 (bottled), HEAD

mac:scripts me$ uname -a
Darwin mac.local 14.3.0

[2015-07-18 09:54] #90 closed

[2015-07-18 09:54] elad commented on #96
You should post the picture somewhere to make debugging at least possible. :)

[2015-07-18 09:56] #87 closed

[2015-07-18 10:09] elad commented on #81
I just did.

I barely have time to fix and test everything so I hope it works out well...

[2015-07-18 10:09] #81 closed

[2015-07-31 15:46] danpaulsmith opened #97 "fix your package.json. can't install 1.7.0 or 1.8.0 as a dependency"

[2015-07-31 17:20] elad commented on #97
Fix it how? What error are you getting? Pull request?

[2015-08-07 09:39] aleclarson opened #98 "Can't install on OSX"
I've tried `npm install imagemagick-native` on:

- io.js v3.0.0

- io.js v1.6.2

- NodeJS v0.12.4

- NodeJS v0.10.36

What should I do? :smile:

### terminal output

[code]

### npm-debug.log

[Link here](http://pastebin.com/raw.php?i=hPUwJy3J)

[2015-08-07 10:56] elad commented on #98
This is your problem:

[code]

This module (`node-imagemagick-native`) is a binding for the native (C++) ImageMagick library. You must first have that installed, for example using `brew` etc.

[2015-08-08 00:22] aleclarson commented on #98
I did do that. But it's still not working.

If I try `brew install imagemagick`, it outputs `Warning: imagemagick-6.9.1-1 already installed`.

[2015-08-08 11:47] elad commented on #98
Sorry for not being clear! When I said "the library" I meant the stuff usually packaged for developers - that is, not only the shared library but also the headers etc. To the best of my knowledge, this isn't part of the standard ImageMagick package, which only includes the runtime for using the software itself.

(By being a native binding, `node-imagemagick-native` actually uses the same interface

[2015-08-09 03:06] aleclarson commented on #98
So I shouldn't be using `brew install imagemagick`?

Or do I need to install something else entirely?

Thanks for the replies! :smile:

[2015-08-09 08:05] elad commented on #98
Hm, maybe it's related to #95 then. I'll have to find a time to look more into it.

[2015-08-14 12:54] Alan01252 commented on #95
This worked for me on Ubuntu

sudo apt-get install libmagick++-dev

[2015-08-14 13:00] steelbrain commented on #95
@Alan01252 It might work on `12.04`, but it doesn't work on `14.04`

[2015-08-14 13:01] Alan01252 commented on #95
:( it did for me!

Cdeploy@engine:/srv/opt/agricameraifu/lib$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.2 LTS
Release:	14.04
Codename:	trusty

[2015-08-14 13:02] steelbrain commented on #95
Sorry by `14.04` I meant `15.04`
[code]

[2015-08-14 13:03] Alan01252 commented on #95
Ahh sorry @steelbrain I should have put version in first post :( GL with 15.04 sorry I can't help more.

[2015-08-21 04:09] amit777 opened #99 "problem building with iojs 3.2.0 (due to NaN changes)"
OS is centos 7.
ImageMagick 6.9.1-10 Q16 x86_64 2015-07-27 http://www.imagemagick.org

[code]

[2015-09-14 04:13] horiuchi commented on #99
I try to update NaN library: #102

[2015-09-14 23:15] pyramation opened #104 "-auto-orient option"
Can we just pass the `-auto-orient` option through, would I simply pass in `autoOrient: true`?

(I didn't see this one in the docs)

For example,

[code]

[2015-09-16 02:18] TimWolla opened #106 "images in README.md are broken"
They seemingly resided in the gh-pages of @elad's private fork. They should be added back into the main repository (and be referenced by a relative path), so they don't get lost again.

[2015-09-16 18:59] elad commented on #106
Sorry about that! Fixed. :)

[2015-09-16 18:59] #106 closed

[2015-10-12 20:33] TimWolla opened #107 "Tests fail with nodejs 4.2"
See: https://travis-ci.org/elad/node-imagemagick-native/jobs/84995680

[2015-10-20 16:17] MattCollins84 opened #108 "When is next version?"
Hi,

We are updating our app to use Node 4.2.1 and are currently using 1.7.0 of your module.

We have found that neither 1.7.0 or 1.8.0 build on node 4.2.1, but the current master branch of this module will, which is great, except that I am a bit wary of putting a reference direct to the master branch of your package in my package.json.

Is there an ETA on the release of 1.9.0?

Thanks,
Matt

[2015-10-22 09:12] interbred-monkey commented on #96
I have the same issue, stats are:

Node v4.2.1
ImageMagick v6.8.7-10
OSX v10.11

The image I am using is https://www.google.co.uk/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png but I am having the same issue with any image.

I have created a simple script that outlines the problem:
[code]

The debug indicates that it is getting to the point of accessing imagemagick but then failing.
O

[2015-10-22 09:38] interbred-monkey commented on #98
I don't know if this has been resolved but I have had the same issue recently. The way I fixed it was to link to the directory that contains the pkg-config in the PKG_CONFIG_PATH.

The following steps outline how this is achieved:

1. Find the location of your pkg-config folder for imagemagick, to do this I ran the command `locate Magick++.pc`, make a note of this, mine was `/usr/local/lib/pkgconf

[2015-10-29 16:04] lnwdr commented on #52
Seems like #82 would help. What's preventing a merge?

[2015-10-30 19:52] rxgx opened #109 "Can't find dyld libs when installing for Node 4.2.1 on El Capitan 10.11"
You may want to add a warning to users that pkg-config is not installed by default.
[code]

The commands `identify` and `convert` work as advertised in the terminal however when using the API for convert, I get the following fatal errors:
[code]

`otool -L node_modules/imagemagick-native/build/Release/imagemagick.node`
[code]

`identify --version`
[code]

[2015-11-12 10:50] thaumant commented on #96
Same problem here.

OSX v10.11.1
ImageMagick v6.9.2-5
NodeJS v0.10.36
imagemagick-native v1.8.0

[2015-11-18 06:57] renaldonson opened #110 "Warning C4005: 'snprintf'"
I'm having error trying to install imagemagick.
I'm in windows 10.

[2015-11-23 05:00] x000zh opened #112 "is using Nan:NewBuffer safe in WrapPointer"
when i try these code:
[code]
the second `console.log`'s output is very strange, it show that all zero in the buf.

platform:  ubuntu 12.04
node:  v4.2.2

I think, it maybe related to the imporper use of the `Nan:NewBuffer`
[code]

[code]
according to
http://www.imagemagick.org/api/Magick++/Blob_8cpp_source.html
https://github.com/nodejs/nan/blob/master/doc/buffers.md

it is not very safe to using

[2015-11-23 21:43] risenhoover opened #113 "node-gym rebuild fails on Linux 4.1.10-17.31.amzn1.x86_64"
When I attempt to build a project that depends on this, I get the following in the logs. Please advise.

make: Leaving directory `/var/strider/.strider/data/zumaventures-nomadica-565385667f51b916067c54ef/node_modules/grunt-svg-sprite/node_modules/svg-sprite/node_modules/libxmljs/build'
npm ERR! Linux 4.1.10-17.31.amzn1.x86_64
npm ERR! argv "node" "/var/strider/node_modules/strider-node/node_module

[2015-11-23 22:19] risenhoover commented on #113
After further investigation, it looks like the errors are related to something upstream.

[2015-11-23 22:19] #113 closed

[2015-11-24 01:38] sapics commented on #112
I have a similar trouble in
platform: Amazon Linux AMI release 2015.09
node: v4.2.2

[2015-11-30 22:39] sholladay opened #114 "Implement the "negate" option"
I want to achieve the following command line using this project:
[code]

Presumably something like:
[code]

[2015-12-08 10:49] elad commented on #110
Hi,

I don't have a Windows machine to test with, so this will have to wait for someone else...

[2015-12-08 10:50] elad commented on #108
Yes, shortly, probably later on today. :)

[2015-12-08 10:52] elad commented on #99
@amit777 could you please try again with the master branch?

[2015-12-08 10:52] #97 closed

[2015-12-08 10:53] elad commented on #80
@mbouclas @bit-seq could you please try again with the master branch and a newer (4.x) node?

[2015-12-08 10:53] elad commented on #114
Pull requests welcome. :)

[2015-12-08 10:53] elad commented on #94
Pull requests welcome. :)

[2015-12-08 14:29] fabien-h commented on #94
I'm exactly on the same issue :)

If a binary is needed, how do I convert my base64 to a binary buffer ? (this question may seems stupid)

[2015-12-08 14:46] elad commented on #94
http://stackoverflow.com/a/14573049

[2015-12-08 14:50] fabien-h commented on #94
Thank you. I did that, but apparently, the problem is elsewhere. I quit bothering you here.

[2015-12-09 15:10] sweco-semhul commented on #104
:+1:

[2015-12-14 21:32] toddself commented on #108
still can't build on node 4.2.1, but i can install `elad/node-imagemagick-native` and it works. looks like package.json is still out of date w/r/t to master?

[2015-12-15 22:39] jalik opened #115 "libMagick++.so.5 is missing"
Hi, I am trying to use imagemagick-native with the Meteor JS framework, in the past I successfully installed and used it, but with Ubuntu 15.10 I have a lot of problems.

I installed packages :
apt-get install libmagick++-dev imagemagick

To install the module with NPM, I had to workaround because it did not find Magick++-Config :
export PATH=$PATH:/usr/lib/x86_64-linux-gnu/ImageMagick-6.8.9/bin-Q

[2015-12-22 13:16] kamaldeepoodles opened #116 "Module version mismatch. Expected 43, got 14.                                                while running sample program."
I installed the **imagemagick-native** using command- npm install imagemagick-native
The module is successfully installed with the following log

[code]

Now after installation, I tried to run the sample program

[code]

But got the following error...

![webkit3](https://cloud.githubusercontent.com/assets/10527158/11955884/cc1e89c0-a8db-11e5-819a-d4c6a43a26b4.jpg)

Please look into the issue and o

[2016-01-03 08:18] anyab5 commented on #77
I am able to reproduce the issue as well.
Any update or plans to address it?

[2016-01-11 10:44] ameykpatil commented on #96
Having a similar problem with latest versions -

OSX  - `v10.11.2`
ImageMagick  - `v6.9.2-10`
NodeJS  - `v5.4.0` (also tried with `v5.0.0` & `v4.2.3`)
imagemagick-native - `elad/node-imagemagick-native.git#travis-4.1` (to avoid NaN errors)

Some more info -
- It runs through command line when I call identify command on an image but fails through code (i.e. imagemagick-native).
- Through code if I

[2016-01-16 18:53] SimonSelg commented on #96
Same problem here as OP.

[2016-01-17 15:34] PavelNartov commented on #96
Is someone found a solution for this?

[2016-01-24 07:09] simonh1000 commented on #95
Any fix yet for the 15.x?

[2016-02-05 03:30] ckross01 opened #117 "issue compiling with nodejs 5.5"
I am having an issue after upgrading to nodejs 5.5.

`Package Magick++ was not found in the pkg-config search path.
Perhaps you should add the directory containing`Magick++.pc'
to the PKG_CONFIG_PATH environment variable
No package 'Magick++' found
Package Magick++ was not found in the pkg-config search path.
Perhaps you should add the directory containing `Magick++.pc'
to the PKG_CONFIG_PATH envi

[2016-02-09 22:30] erhhung commented on #98
[code]
Isn't this output complaining about not finding `"pkgconfig"` and not about `"imagemagick"`?

So how about doing `sudo brew install pkgconfig`?

[2016-02-09 22:44] erhhung commented on #99
The master branch works just fine (on OS X 10.11 at least) with Node 5.5, so why not publish a new NPM release with this fix? The 1.8.0 release doesn't build with any Node above 0.12.x and most folks are way past that.

[2016-02-12 12:47] elad commented on #99
I just released the master branch as 1.9.0

[2016-02-12 12:47] #99 closed

[2016-02-12 12:47] elad commented on #108
Sorry for the huge delay. Just released the master branch as 1.9.0.

[2016-02-12 12:47] #108 closed

[2016-02-13 13:58] timkendrick opened #118 "Garbled output from multiple async `convert()` operations"
Thanks for making this package! I've just found one big issue, and that's when I try to convert more than around 5 images asynchronously, and then write those output buffers to the filesystem asynchronously, some of the output images seem to be unpredictably mangled. The file contents are either mashed together, or contain large swathes of empty bytes, or are just random snatches of the image, etc

[2016-02-13 22:01] elad commented on #118
I haven't looked at the source in a while, but this smells like static buffers being used by ImageMagick. Not sure if/when I'll have time to take care of it, since I, personally, am barely using this module anymore. :/

[2016-02-13 22:10] timkendrick commented on #118
Totally understand – I guess that's an occupational hazard of open source… Any idea if there are any active maintainers for this module?

[2016-02-14 01:08] cartuchogl commented on #118
I checked that the problem may be related to the buffer returned is freed memory in c++.
Can you check if https://github.com/cartuchogl/node-imagemagick-native/tree/copybuffer fix your problem, sorry but I only check in node 0.12.9 on debian jessie box.

[2016-02-14 01:18] timkendrick commented on #118
@cartuchogl – just tested that now and it works perfectly. Thanks for the quick fix!

[2016-02-14 01:52] cartuchogl commented on #112
May be the same problem that #118?

[2016-02-14 07:14] elad commented on #118
@timkendrick yes, I have made it a policy to give contributor access to anyone whose pull requests gets merged. Obviously, @cartuchogl is one of those fine folks. :)

[2016-02-14 07:15] elad commented on #118
Fixed by #119

[2016-02-14 07:16] #118 closed

[2016-02-14 12:52] timkendrick commented on #118
That's amazing – thanks for the fix @cartuchogl and great contributor policy @elad. Works like a charm.

Cheers for the super-fast turnaround guys!

[2016-02-28 17:25] ainthek opened #120 "install on OSX, with mageMagick 6.9.2-7"
brew uninstall --force imagemagick
	brew install imagemagick
	identify --version

	prints:
	Version: ImageMagick 6.9.2-7 Q16 x86_64 2015-11-29 http://www.imagemagick.org
	Copyright: Copyright (C) 1999-2015 ImageMagick Studio LLC
	License: http://www.imagemagick.org/script/license.php
	Features: Cipher DPC Modules
	Delegates (built-in): bzlib freetype jng jpeg ltdl lzma png tiff xml zlib

	export P

[2016-02-28 17:28] ainthek commented on #120
node --version
v5.0.0

[2016-02-28 17:28] ainthek commented on #120
sw_vers
ProductName:	Mac OS X
ProductVersion:	10.11.3
BuildVersion:	15D21

[2016-03-01 16:06] pmelisko commented on #109
pull request #121 should fix your problem, in binding.gyp is missing case for 10.11 (see git comment)

[2016-03-02 07:18] pmelisko commented on #120
pull request #121 should fix your problem, in binding.gyp is missing case for 10.11 (see git comment). They changed default from libc++ to libstdc++ with version OSX 10.9. In build there is check only for 10.9 and 10.10, but there is missing check for newer version OSX 10.11 and higher.
Here #17 is reported the same issue for OSX 10.9

[2016-03-02 20:04] ainthek commented on #120
Thanx will try, in the mean time: monkey patching original tarball:

npm uninstall imagemagick-native

# donwload and extract do not install
mkdir _; curl $(npm view imagemagick-native dist.tarball) | tar -x -C _

# monkey patch (how to do 'greater then' in gyp ?)
xs-sed -i 's;\( or OSX_VER == "10.10"\);\1 or OSX_VER == "10.11";' _/package/binding.gyp

# see readme.md
export PKG_CONFIG_PATH=/usr/l

[2016-04-06 05:46] ArunMichaelDsouza opened #123 "Combining rotate with composite"
Is there a way to combine composite and rotate together ?

I want to do something like this -
`convert bg.png \( -background none -rotate 30 -geometry 140x140+120+88 design.png \) -composite result.png`

Rotate the foreground `design.png` on some background `bg.png` and use the `composite` function to layer the two together to form `result.png`

[2016-04-14 02:26] randianb commented on #116
+1

[2016-04-14 08:50] elad commented on #116
I don't use Windows and don't plan on supporting it. Unless someone steps up to fix it, I'll just remove support for the platform or mark it as "experimental."

[2016-04-14 15:34] scottmas opened #124 "More verbose error messages?"
Hi, great library here. Thank you. I have no C expertise or else I would look into it myself, but I'm using imagemagick-native to validate image files, simply calling identify on them and assuming if it errors out, there's something wrong with the image. However, the problem is that the error message I get are always the same: `[Error: unhandled error]`.

Is there any way this could be more verbos

[2016-04-19 04:07] TechGuyVN opened #125 "Can you support -flatten in convert"
Hi,

Thanks for incredible code, supper fast in convert image compare with imagemagick console porting.
My case i use IONIC to generate splash.png image, but the PNG image output have transparent pixel so ionic can not understand it.
I figure out i can use image magick with option -flatten to solve this problem.
So can you provide a build support flatten convert mode ?

Many thanks!

[2016-05-11 15:15] qrazi commented on #69
On Ubuntu 16.04 I had to use @clemsos solution.... In my previous Ubuntu 14.04 I'm sure I got away with just using libmagick++-dev... :-/

[2016-05-19 14:36] jasminmif opened #128 "ImageMagick-native errors with node-gyp in windows10"
Im trying to install imagemagick which will be used for another module for printing.
But im getting this error and i cant seem to find a fix for it. I've tried everything what i found in google but still nothing fixed my issue.

- I have installed Python 2.7
- visual community 2015 ( with C++ module )
- ImageMagick-7.0.1-4-Q16-x64-dll

and when i try npm install imagemagick-native i get this bello

[2016-05-19 15:56] elad commented on #128
It looks like the compiler can't find ImageMagick's headers. If you have them, find where they are, and make sure you provide that as part of the include path.

(I don't use Windows myself so I can't be much help here...)

[2016-05-27 19:54] jmorrisIII commented on #128
@jasminmif Did you find a solution?

[2016-05-27 20:55] jmorrisIII opened #129 "Install imagemagick-native on windows 7 errors"
I'm having errors when trying to install imagemagick-native on windows 7 64. Not sure which of the errors are fatal.

[code]

[2016-05-28 12:57] jasminmif commented on #128
@jmorrisIII  No i have not, this looks very complicated i lost 2 days trying to figure this out. Than i moved to another solution using, python module for printing.

[2016-06-07 22:42] faninv commented on #115
+1

[2016-06-23 09:55] alexcroox opened #130 "PDF conversion?"
Using imagemagick on OSX cli the following works great

`convert -density 288 test.pdf test.jpg`

I'm looking to use a node wrapper so I can use this on AWS Lambda, however locally testing the following produces a jpg but it's corrupt

[code]

[2016-06-23 10:12] alexcroox commented on #130
Resolved in `gm` module with

[code]

[2016-06-23 10:12] #130 closed

[2016-07-08 16:53] endquote commented on #128
I found that when you run the ImageMagick installer, there is a checkbox to install the header files. Then node-gyp seems to find them. However the compilation still fails. Log attached.
[npm-debug.txt](https://github.com/elad/node-imagemagick-native/files/354704/npm-debug.txt)

[2016-07-09 23:36] WestleyArgentum opened #131 "build broken for node version 5.5.0 on osx 10.10.5"
I can't install at all:

[code]

Is there something else I need to install or build?

[2016-07-09 23:58] elad commented on #131
The library & headers...

[2016-07-18 12:15] fuyuanwu opened #132 "imagemagick7"
ImageMagick7 has released,  Can support that?

[2016-07-18 23:03] elad commented on #132
PRs welcome. :)

[2016-07-18 23:03] #132 closed

[2016-08-01 09:01] andreasherzog opened #134 "support for profile operation"
Hi,
thank you for maintaining imagemagick-native. It works great so far.
Currently, I am using it for resizing but wonder if you can pass in additional commands.
Is there currently the possibility of using the profile-option of imagemagick? In particular, I would like to know how I can write IPTC metadata to a JPG image.

Your help is very appreciated.

[2016-08-04 18:41] dustingraves opened #135 "Expose x,y offset coordinates for custom cropping"
Unless someone is already working on this I would like to add:
 `gravity: custom` and allow `xoffset: <int>`, `yoffset: <int>`

i.e: `{ gravity: custom, xoffset: 200, yoffset: 200}`

[2016-08-04 18:47] dustingraves commented on #117
Did you resolve this? I had to update xcode and make sure I was running latest command line tools. In addition `brew install pkgconfig` then `brew remove imagemagick` and `brew install imagemagick` then retry.

[2016-08-08 15:08] ckross01 commented on #117
Nope, haven't resolved yet but let me give those steps a try and then I'll update. Ty

[2016-08-08 20:10] dustingraves opened #136 "SIGBART on invalid image format OS X 10.12 and Node 5.7.1"
[code]

[2016-08-10 05:04] dustingraves commented on #136
This seems to have resurfaced... #61

[2016-08-10 22:35] romuloctba commented on #63
+1
Oh I need it too

[2016-08-28 12:02] dstaver opened #138 "Poor quality when converting favicon ICO to PNG"
Using imagemagick on command line:

`convert -flatten -thumbnail 64x64 klikk.ico klikk.png`

Using imagemagick native:
`fs.writeFileSync('klikk.png', im.convert({
srcData: fs.readFileSync('klikk.ico'),
srcFormat: 'ICO',
format: 'PNG',
width: 64,
height: 64,
quality: 100
}));`

When comparing the resulting images the one converted with imagemagick native has siginificantly lower resolution than the

[2016-08-29 20:43] deepakvenkat commented on #63
Is this going to be merged?

[2016-08-31 17:23] romuloctba opened #139 "Geometry for composite"
Hi guys

I would like to know if you can give me an Idea in how can I make the `.composite` method accept `geometry` attribute?

Because I can do, via command line, this:

`convert dog-face.jpg -alpha set -gravity center -extent 1000x1000 image_mask.png -geometry 100x-200 -compose DstIn -compose Over -composite -sampling-factor 2x1 result-dog-face.jpg`

This would position my mask 100px+y and -200

[2016-08-31 22:13] #63 closed

[2016-09-01 13:33] rchipka commented on #125
Fixed by #140 with the option `{ background: "white" }`.

[2016-09-01 13:33] #125 closed

[2016-09-01 13:42] rchipka commented on #139
@romuloctba Would you be willing to create a pull request for this?

[2016-09-01 17:34] romuloctba commented on #139
Sure, if  I'm able to make it work, I'll gladly PR here

[2016-09-02 18:29] pfjare commented on #129
Any luck on this?

[2016-09-02 18:47] jmorrisIII commented on #129
No.

[2016-09-05 15:45] tinovyatkin opened #142 "Support for Convert' DEFINE command-line option"
Hello,
I'm trying to do analog of following command-line:
`convert -format ico -density 600  -background none -define icon:auto-resize=128,64,48,32,16 logo.svg favicon.ico`
but can't find any way to specify transparent `background` (it failsback to white from `none` and from `transparent`) nor a way to specify format-specific options like `-define icon:auto-resize=128,64,48,32,16`.
Is there a way

[2016-09-05 17:53] elad commented on #142
What version are you using? This is supposed to be possible with #140 I guess.

[2016-09-08 20:32] deepakvenkat commented on #104
Would be good to have this feature.

[2016-09-14 02:12] tinovyatkin commented on #142
I tried on the latest available from `npm` - doesn't work with transparent bg

[2016-09-15 00:33] romuloctba commented on #139
lol

[2016-09-26 20:15] tamlyn opened #143 "Only Shrink Larger Images"
Is there a way to access the [Only Shrink Larger Images](http://www.imagemagick.org/Usage/resize/#shrink) flag? Otherwise my small images get scaled up which is of no benefit. On the command line you would do it with a `>`:

    convert dragon.gif -resize 64x64\>  shrink_dragon.gif

[2016-10-05 14:28] arrufat opened #145 "Build error with imagemagick 6.9.5.10"
I am having the following build error on Arch Linux with node 6.3.0 and imagemagick 6.9.5.10

[code]

Any suggestions?

Thanks in advance

[2016-10-10 18:13] frank-trampe opened #146 "GraphicsMagick++-config breakage"
Trying to compile the native modules on Ubuntu 16.04 gives an error. `gyp` tries to run `Magick++-config --cflags --cppflags`, which returns an error since, for some reason, `Magick++-config` dropped the `--cflags` option. Would it be okay to use `--cxxflags` instead?

[code]

[2016-10-10 18:45] frank-trampe commented on #146
Oh. As it turns out, [the tool is considered obsolete](https://bugs.launchpad.net/ubuntu/+source/imagemagick/+bug/1449697), so it was the GraphicsMagick tool rather than the ImageMagick tool running. Is there a standard work-around?

[2016-10-27 20:31] jescalan commented on #146
I'm also running into this issue, anyone have a fix? Makes it impossible to use in production...

[2016-10-27 20:38] jescalan commented on #146
I forked this library and changed the `--cflags` to `--cxxflags`, but unfortunately the install script broke horrendously. I tried!

[2016-10-27 20:39] jescalan commented on #146
If you have a moment, would love to get some help on this @elad!

[2016-11-02 04:22] BooDoo commented on #145
Same issue with node 7.0.0 and IM 6.9.6.2 (on Arch)

Will update if I find a resolution, but for now, just: +1

[2016-11-04 16:16] cartuchogl commented on #146
Hello, I tried with ubuntu 16.04.1 and node 6.9.1 with ImageMagick, not GraphicsMagick, and works. The steps I follow are:
[code]
This steps are equal that I use on debian jessie.
I think that this lib not support GraphicsMagick already.

[2016-11-04 16:21] elad commented on #146
@jescalan see what @cartuchogl says - he's right. This module doesn't support GM.

[2016-11-04 16:21] #146 closed

[2016-11-04 16:51] frank-trampe commented on #146
It's still sort of confusing that it calls a tool that Ubuntu says is provided only by GraphicsMagick. Any chance we could get a note in the documentation?

[2016-11-04 16:53] elad commented on #146
@frank-trampe definitely! care to submit a PR? :)

[2016-11-04 17:06] frank-trampe commented on #146
Done.

[2016-11-04 19:06] cartuchogl commented on #146
In ubuntu ````uname [-p|-m]```` out same, but on debian ````uname -p```` out ````unknow````.
Also in debian strech I found that q on ````bin-Q16```` is lowercase.

I suggest:
[code]

[2016-11-10 16:23] ArsNV opened #150 "Can`t install on Windows 10"
C:\Users\ars93\Desktop\pr>npm install imagemagick-native

C:\Users\ars93\Desktop\pr\node_modules\imagemagick-native>if not defined npm_config_node_gyp (node "C:\Users\ars93\AppData\Roaming\npm\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "" rebuild )
'python' is not recognized as an internal or external command,
operable program or batch fil

[2016-11-16 06:21] karthiks416 commented on #146
@cartuchogl ..It fixed. Thanks

[2016-11-22 23:02] lagden opened #151 "stream delay"
Node v6.9.1
ImageMagick 6.9.6-0 Q16 x86_64 2016-10-07
imagemagick-native v1.9.3

---

Hi!
I am having problems with the stream...

When the pipe ends, I check the file size and it is `0`

Take a look on the script below:

[code]

[2016-11-22 23:09] lagden commented on #151
Sorry!!! I did a mistake!! :finnadie:

[code]

[2016-11-22 23:09] #151 closed

[2016-11-28 16:10] telekosmos commented on #116
Hi there
We have the same problem with `node >= 4.x` on __OSX 10.11__ (actually, we tried `node 4.2.2` and `node 6.5.0`). We are running an __express API__ and __imagemagick__ makes operations on uploaded pics. It is working with `node 0.12.12` (:-S). With `node 6.5.0`, trying to startup the express app shows the following error:
[code]

Any hint about it?

thanks!!!

[2016-11-28 16:16] elad commented on #116
Sorry, no idea... To be honest, I barely have time to maintain this module. You should check out and see if [Sharp](https://github.com/lovell/sharp) or [Jimp](https://github.com/oliver-moran/jimp) fit better for your purposes.

[2016-11-28 16:22] telekosmos commented on #116
Thanks for the quick reply!!!
Will take a look to those modules, trying to bump the node version to support our app with last features.

Cheers again

[2016-11-28 16:34] cartuchogl commented on #116
@telekosmos your problem is that a native module compiled with a version of node is not compatible with other. If you remove imagemagick-native and reinstall using 6.x that would be fine.

[2016-11-28 16:43] telekosmos commented on #116
@cartuchogl many thanks, that worked perfectly :-) so far. In addition, packeges named by @elad are worth to see for those starting new projects.

[2016-12-13 23:44] mallocator commented on #117
FYI: remove (--force) and install worked for me with nodejs@7.2.1 and imagemagick-native@1.9.3.

[2016-12-17 19:42] matiasmolleja opened #155 "Any plans for adding Electron.io support?"
Hi,
I think that electron is lacking an easy way of including a good graphics library like ImageMagick.
Do you think , Is would be possible to include ImageMagick as a native module, so that having it installed on the end user machine is not required?
Regards.

[2016-12-19 15:44] ckross01 commented on #117
That did the trick. Thanks.

[2016-12-19 15:44] #117 closed

[2017-01-04 15:09] CherryDT commented on #115
After the dist upgrade, you have to rebuild the npm package.

In my case, there was also the Magic++-config program not in the path, so I had to do:

[code]

[2017-01-06 14:47] nickroberts commented on #155
We are looking to do PDF to image conversion in an Electron app, so this would be great. These PDFs could also be multi-page.

[2017-01-11 20:56] jaidirectdsn commented on #150
You got any solution for this? If yes, then please share. I having the same issue. Thanks in advance

[2017-01-12 15:10] ArsNV commented on #150
Hi jaidirectdsn.
No my problem not solved.They didn`t answer.

[2017-01-12 23:35] jaidirectdsn commented on #150
npm install imagemagick will get installed correctly. But that too not working

[2017-01-25 10:24] krstffr commented on #134
Yes, this currently breaks my app which converts a JPG -> PNG and then the PNG throws error due to missing profile. Would be awesome!

[2017-01-25 15:07] buddhabuddy opened #158 "Win10 x64 SyntaxError: invalid syntax @ print get_regvalue('SOFTWARE\\ImageMagick\\Current', 'LibPath')"
C:\Users\guy\AppData\Roaming\npm>npm install imagemagick-native

C:\Users\guy\AppData\Roaming\npm\node_modules\imagemagick-native>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node "" rebuild )
  File "get_regvalue.py", line 16
    print get_regvalue('SOFTWARE\\ImageMagick\\Current'

[2017-01-25 15:29] buddhabuddy commented on #158
it was still running python 3, once removed and properly set python 2.7 in path, all sorted.

[2017-01-25 15:29] #158 closed

[2017-01-25 15:30] buddhabuddy commented on #150
check python.exe is in your path

[2017-01-25 16:00] buddhabuddy commented on #128
I had a problem with ImageMagick v7 and had to install Imagemagick v 6.x.x from ftp://ftp.imagemagick.org/pub/ImageMagick/binaries/

Have you tried that?

[2017-01-25 16:03] buddhabuddy commented on #129
What version of ImageMagick have you installed?  I had similar issue with v7. Try a v6.x.x from ftp://ftp.imagemagick.org/pub/ImageMagick/binaries/

[2017-01-30 14:53] SargisParunakyan opened #159 "Append output to existing multi-page TIFF file"
Hello.  I have to convert png file to tiff, and add that file to another tiff. For instance i have one png file, and one tiff file with 3 pages. i'd like to convert the png to tiff and add it inside that tiff file.In other words that tiff file with 3 pages should be 4 pages after that.I know how to convert png to tiff but how could i add that coverted file inside of tiff???

[2017-02-03 12:29] tomterl opened #160 "MacOS X build issue"
I wrote a small metalsmith plugin, that allows to use node-imagemagick-native to process files in a metalsmith setup.

One of my (perspective) users cannot build node-imagemagick-native. He is on MacOS X -- the error message he gets is

    fatal error: too many errors emitted, stopping now [-ferror-limit=]
    20 errors generated.
    make: *** [Release/obj.target/imagemagick/src/imagemagick.o] E

[2017-02-07 18:17] cartuchogl commented on #160
I think the problem may be ImageMagick version. Could you try with ImageMagick 6.x?

[2017-02-07 18:30] tomterl commented on #160
@edwardessing can you follow cartuchogls lead and try to downgrade imagemagick and then again to install node-imagemagick-native?

[2017-02-08 22:48] edwardessing commented on #160
Okay so the problem was with the imagemagick-native package. This was the error i was getting:
`Package Magick++ was not found in the pkg-config search path.`
`Perhaps you should add the directory containing `Magick++.pc' to the PKG_CONFIG_PATH environment variable`
`No package 'Magick++' found`
`Package Magick++ was not found in the pkg-config search path.`
`Perhaps you should add the directory c

[2017-02-09 05:33] tomterl commented on #160
pkg-config is a system that is used to find at build-time information about development-files locations etc - it seems your system is not setup correctly or the ImageMagick installation was somehow incomplete in this regard.

[2017-02-09 05:33] #160 closed

[2017-02-19 06:00] stanleycyang commented on #69
@trueter Did you get it working on heroku?

[2017-03-28 09:07] tmikaeld commented on #69
This is still an issue on Debian 8, might be a good idea to update the install instructions...

[2017-04-03 14:57] gaurav5430 commented on #160
i am getting the same error on MAC, with imagemagick6 . I have pkgconfig installed. I tried PKG_CONFIG_PATH=/pathToImageMagick/lib/pkgconfig npm install --save imagemagick-native
Doesn't seem to work.

[2017-04-03 15:04] gaurav5430 commented on #69
getting this issue on macOS sierra, any pointers ?

[2017-04-06 21:23] antonk52 opened #161 "Another issue with installing on Mac OS"
I am using `imagemagick-native` on my server and it works like a charm. However on my local machine
- Mac OS El Capitan 10.11.6
- Node v6.10.1
- npm v3.10.10

 I keep running into issues. I already had installed with brew
- pkgconfig v0.29.2
- imagemagick v7.0.5-4

After running `npm i -S imagemagick-native` I ran into following error

[code]

I attempted to add the directory containing `Magick++.

[2017-04-06 21:36] elad commented on #161
Hey! A few people have reported issues with this module lately. Unfortunately, I haven't used it in years because I'm no longer working on the project that required it. So I can't offer much insight - definitely not in a reasonable time - into how to make things work. :( It could be that newer versions of the compiler are more strict, that newer versions of the libraries/modules are incompatible,

[2017-04-06 22:00] cartuchogl commented on #161
@antonk52 could you try with imagemagick v6.9.x. 6.9.6 is the version that I use on macos 10.12.3

[2017-04-06 22:40] antonk52 commented on #161
thank you for your answers @elad and @cartuchogl

If I try to install a 6.9v, I first remove IM with `brew uninstall imagemagick` and then I get this

[code]

same for `@6.9.6`

But I succeeded with `brew install imagemagick@6`

Then when I tried to install the npm module I got the same as the first result

[code]

so I found where the `Magick++.pc` was and added following

`> export PKG_CONFIG_PA

[2017-05-03 19:29] logidelic opened #163 "Density ignored when converting PDF -> PNG"
Calling something like:

`imagemagick.convert({srcData:pdfData, srcFormat:'PDF', format:'PNG', density:300, quality:100}, function(err, buffer) { ... });`

The **density** argument is complete ignored. I also tried '300x300' and some other formats, but in all cases it was ignored. On the other hand, executing imagemagick from the command-line works correctly:

`convert -density 600x600 -quality 10

[2017-05-08 07:37] hbakhtiyor commented on #46
from [this performance test](http://sharp.dimens.io/en/stable/performance/) imagemagick is a bit fast than imagemagick-native

what do you think?

[2017-05-28 07:32] zinne commented on #161
Had the same issue with Sierra 10.12.5
What I did to get it worked:
First uninstalled all:
$  `brew uninstall imagemagick`
installed imagemagick v6:
$ `brew install imagemagick@6 --force`
check if pkgconfig is installed and set permissions:
$ `brew install pkgconfig && chmod 755 /usr/local/lib/pkgconfig`
Link:
$ `brew link imagemagick@6 --force`
do the path bla brew told me:
$ `echo 'export PATH="

[2017-05-28 20:16] cartuchogl commented on #95
#164 close this

[2017-05-28 20:16] #95 closed

[2017-05-28 20:23] #107 closed

[2017-05-28 20:25] #94 closed

[2017-05-28 22:45] #104 closed

[2017-05-30 13:40] #52 closed

[2017-05-30 13:48] #135 closed

[2017-05-30 15:40] LizanLycan opened #168 "Error while installing"
**DESCRPTION**
I have a problem trying to install the package. Install all dependencies that require, except ImageMagick, install this (ImageMagick-6.9.8-8-Q16-HDRI-x64-dll.exe)

**ERROR**
c:\Proyect-path\node_modules\nan\nan_new.h(208): error C2668: 'Nan::mp::IntegerFactory<v8::Int
eger>::New': ambiguous call to overloaded function (compiling source file ..\src\imagemagick.cc)
[C:\Proyect-path\no

[2017-06-01 17:25] Thesephi opened #170 "Installation fails on Mac OSX for NodeJS@8.0.0 (brew imagemagick@7.0.5-9) (used to work fine on NodeJS@7)"
So, as the title suggested, the version info is as followed:

- NodeJS@8.0.0
- npm@5.0.1
- imagemagick@7.0.5-9 (installed with Homebrew)
- MacOS 10.12.5

As I ran `npm install imagemagick-native` , the stack returned is as pasted [here](https://gist.github.com/Thesephi/6dbdf4a2e2dc92f09ee9016384e66f2e).

Thank you much for any insight / advices. Also, apologies i couldn't help more due to the lack

[2017-06-01 17:35] cartuchogl commented on #170
Could you try with imagemagick 6.9.x ? I think that imm 7.x is not supported yet

[2017-06-01 18:14] Thesephi commented on #170
Thanks a lot @cartuchogl . I did and it WORKS ! Procedure was as followed:

1. `brew install imagemagick@6`
2. notice im6 is a keg-only formula, so:
[code]

This definitely can save the day and gets the build done for lots of folks out there 😃 . To imagemagick@7: we shall meet another day.

[2017-06-01 18:36] #170 closed

[2017-06-07 14:15] askie commented on #150
the same error

[2017-06-22 11:41] radamesrf commented on #80
@elad you fixed it? I have the same problem.

[2017-06-28 20:11] nebulr commented on #161
@zinne that fixed it for me thanks. As a sidenote I had to additionally add the --force flag for the uninstall

[2017-07-11 16:22] jrutter opened #171 "Has anyone used this with Electron in production?"
How would it work with brew install in production within electron? Do people need to install brew first?

[2017-08-27 20:50] johnelliott commented on #161
Thank you @zinne.  The exact version of imagemagick 6 got when I installed `@6` was different, so I needed: `export PKG_CONFIG_PATH=/usr/local/Cellar/imagemagick@6/6.9.9-9/lib/pkgconfig/`

[2017-08-29 21:28] timendez commented on #69
How would I go about trying what @clemsos wrote with a circle.yml file for Circle ci?

[2017-10-05 21:45] timendez commented on #120
@ainthek What is the `xs-sed` command? I can't find documentation on it anywhere

[2017-10-12 09:46] TomMettam opened #173 "TGA / Truevision Targa"
ImageMagick cannot identify a Targa/TGA file just from the blob data, and there seems to be no way to provide the type to the identify command via this library (to get the additional metadata).

https://github.com/ImageMagick/ImageMagick/issues/834

https://www.imagemagick.org/discourse-server/viewtopic.php?t=15483

[2017-10-12 15:00] elad commented on #173
Fixed by #175.

[2017-10-12 15:00] #173 closed

[2017-10-27 08:16] arthurlacoste commented on #171
Duplicate with https://github.com/elad/node-imagemagick-native/issues/155.

[2017-10-27 12:14] #171 closed

[2017-11-06 13:50] Spown commented on #69
On Debian Jessie installing the module directly via ``github:elad/node-imagemagick-native `` (use ``-force`` if from console, without altering package.json) actually yields a proper build. The [gyp binding uses pkg-config instead of Magic's config](/elad/node-imagemagick-native/commit/715af375a22457c145a9fbc115d6a1a64fb61456).

This fix was introduced half a year ago and the npm version is over ye

[2017-11-07 09:30] ej52 opened #176 "Animated GIF"
I take it there is currently no way of converting multiple JPEG to GIF?
If so any plans on adding this?

[2017-12-08 19:39] darwin67 commented on #176
or even just resizing gifs?
would love to have `convert` work on that.

[2017-12-25 03:43] zsavicreative commented on #150
Ok, here's the issue...

Now I'm hoping everyone here is a little more experienced with their system more then the average person. So if there is any terminology I'm using that you don't understand, try google.

So the error is being caused by the python file returning an error. After opening the file I figured out that all it really does it return the "MAGICK_ROOT" (install directory of your imag

[2018-02-02 18:33] kiuKisas opened #178 "Using a portable version of imagemagick for electron-builder package ?"
Hi,
I'm working on a electron application and I need to implement some imagemagick awesome features. The thing is, it should be a standalone application, meaning I should not depend on other installed program. Is not an issue since very few users of this app gonna have imagemagick already installed.
So, I wonder if it's possible to use `node-imagemagick-native` with a portable version ok imagemagi

[2018-02-19 12:43] zebroc opened #180 "Does not work with ImageMagick 7"
Gentoo, media-gfx/imagemagick-7.0.7.19.

Getting this:

  CXX(target) Release/obj.target/imagemagick/src/imagemagick.o
../src/imagemagick.cc: In function ‘void DoConvert(uv_work_t*)’:
../src/imagemagick.cc:262:32: error: ‘FilterTypes’ is not a member of ‘Magick’
             image.filterType( (Magick::FilterTypes)option_info );
                                ^~~~~~
../src/imagemagick.cc:327:84: e

[2018-02-20 12:30] cartuchogl commented on #180
At this moment only 6.x are supported. To support 6.x and 7.x at same time need many changes on native code. Pull requests are wellcome ;)

[2018-02-20 14:52] cartuchogl commented on #180
Some old work merged with current master on https://github.com/cartuchogl/node-imagemagick-native/tree/im7

[2018-03-06 14:40] cartuchogl opened #181 "New pipeline like api"
Working on support for im7, I have found that the current c++ code is quite hard to extend with new functionalities. I have worked a bit on a new way of exposing the options that I think is less hard to be extended.

At the javascript level it looks like a pipeline api like:
[code]
At the library level each command extends the ImCommandWrapper class

[code]
The current state is in https://github.c

[2018-06-01 07:15] dipakbachhav opened #183 "Compare two images with ImageMagick"
I want to compare two images using image magick. So when we compare two images if images are different then I am expecting a fail result.
I have done image comparison using robot framework long time back(https://blog.codecentric.de/en/2017/09/robot-framework-compare-images-screenshots/) and now I am looking for the same solution using java code. Can you please help me with your valuable time and w

[2018-08-08 09:28] hannupekka commented on #163
Same with 'colorspace'.

[2018-09-16 18:49] 3DEsprit opened #185 "Depreciations: ImageMagick 6 Depreciations With Node 10.6.0"
**Issue**: It seems there are a few depreciation warnings when rebuilding im-native 1.9.3 with Node 10.6.0. It looks like it's mostly ImageMagick 6 compatibility, and figured it would be something to mention since Node 11 may completely depreciate these changes.

On a side note, while i have not tried a rebuild with Node v9, there are no issues with Node v8.

[code]

[2018-10-17 18:48] cartuchogl commented on #185
Fixed by #186

[2018-10-17 18:48] #185 closed

[2018-10-17 20:53] 3DEsprit commented on #185
You rock! Thank you so much!

[2018-11-06 16:40] pnbuild opened #189 "ignoreWarnings set but still treating warnings as errors"
I am using `1.9.3` and want to ignore ImageMagick warnings. I tried setting `ignoreWarnings` to `true` and to `1`, but if `convert` throws an ``RGB color space not permitted on grayscale PNG `' @ warning/png.c/MagickPNGWarningHandler/1654``, it ends up as an error.

I checked with `debug` if the option is indeed set:
[code]
but still
[code]
I'm trying like this:
[code]
What am I missing here?

[2018-11-26 04:33] yvoxu opened #190 "Can't install on OSX"
Trying to install this package and the error is following:
fatal error: too many errors emitted, stopping now [-ferror-limit=]
33 warnings and 20 errors generated.
make: *** [Release/obj.target/imagemagick/src/imagemagick.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node

[2018-11-26 20:30] yvoxu commented on #190
I reckon I was working with master branch?
Yeah unfortunately, I used gm npm package instead eventually..
Thanks for answering my question!

[2018-12-11 14:32] scream314 commented on #189
Sorry, I was busy with other things. I was able to come back to the issue now, and it turned out my sample image was indeed broken, I tried with another one, and it worked as expected.

[2018-12-11 14:33] #189 closed

[2019-01-23 05:41] liudonghua123 commented on #178
This feature is quite useful, I also want to create a cross platform app using electron and this package, but I found it was difficult now.

[2019-01-23 05:42] liudonghua123 commented on #178
I also found another similar package, https://github.com/aheckmann/gm, it need to download and install GraphicsMagick or ImageMagick.

[2019-01-23 08:38] liudonghua123 commented on #178
@kiuKisas I just made a small step forward to support windows.

[2019-01-23 12:19] shabeer-mdy commented on #150
same Issue , Did find any solutions

[2019-02-17 01:34] Extarys opened #191 "Adaptive resizing"
Is it possible to do adaptive resizing using this library?

[2019-05-15 10:32] florianreinhart opened #193 "Node 12 support"
The native extension does not build with Node 12.

[2019-05-23 07:01] bugparty commented on #168
same here

[2019-05-23 10:06] bugparty commented on #128
I have make a pull request, mean while, you can use imagemagick-native-my

[2019-05-23 10:47] nyuszika7h commented on #193
Now I know why it was erroring. I reverted to Node 10 LTS and that worked fine.

[2019-05-29 17:11] rmoni3000 commented on #129
Downgraded to v6 and worked like a charm, thanks a lot!

[2019-05-31 08:52] panda6412 opened #196 "Error: The specified module could not be found on window10"
I am trying require('imagemagick-native'), after I have followed README.md , installed lots of thing, but it output this log, I have no idea how to trace, could anybody give some advise or opinion

[code]
------------------------------------------------------------------------------------
### Below is the error log
[code]
----------------------------------------------------------------------------

[2019-05-31 08:55] panda6412 commented on #80
@elad , I also face this problem see #196 , should I downgrade the node version

[2019-06-03 15:36] kamil-cf commented on #193
[node-10.15.log](https://github.com/elad/node-imagemagick-native/files/3248370/node-10.15.log)
[node-12.log](https://github.com/elad/node-imagemagick-native/files/3248371/node-12.log)
Works on v10.15, doesn't work on v12. Logs attached.

[2019-06-27 13:47] anilkumar20 commented on #115
same error

[2019-09-27 13:17] euglv opened #197 "How to install on Ubuntu 18.04"
I have problems with installing node-imagemagick-native on Ubuntu 18.04.
I have added `/usr/lib/x86_64-linux-gnu/ImageMagick-6.9.7/bin-q16` to the $PATH, but when I install imagemagick-native with npm I get the following error:
[code]

[2020-01-21 14:28] terion-name commented on #161
@zinne catalina, not working :(

[2020-02-12 21:21] renatocron commented on #193
https://github.com/elad/node-imagemagick-native/pull/195

this pull request is open for a few months now

[2020-03-31 16:48] fxh615 commented on #150
i got your idea

[2020-04-05 19:48] vgkids opened #198 "NPM needs version bump"
When I installed with `npm install imagemagick-native`, I picked up version `1.9.3` as latest.

I was getting an error, `resizeStyle not supported` using `resizeStyle: 'crop'`, which is introduced in PR #167.

I resolved this by pointing directly at the repo in packages.json:
` "dependencies": {
    "imagemagick-native": "https://github.com/elad/node-imagemagick-native"
  }
`

I think NPM needs a

[2020-06-27 08:15] #180 closed

[2020-07-13 06:07] abetomo commented on #193
#195 closed.
#199 now also supports Node.js14.

[2020-08-27 14:15] DevelopSmith commented on #161
@terion-name were you able to get it to work on Catalina? I am also unable to get it to work on Catalina 😞

[2020-10-20 15:52] TimWolla commented on #193
This is resolved now. Thanks @abetomo!

[2020-10-20 15:52] #193 closed

[2020-11-06 15:01] facilitateur commented on #63
Hi, if you use svg2png API with npm, you can update "converter.js" file on lib directory

line 8 : add backgroud-color: white;
[code]

[2021-03-13 16:42] daton89 opened #200 "compile from manjaro arch failing"
after my last updates on Manjaro I'm not able to compile imagemagick native.

I tried with node 8 10 and 12, I've tried to install imagemagick compiling the source of 6.9 and then I've tried with the 7 without luck.

Is there some package we need to install on arch?

[error.log](https://github.com/elad/node-imagemagick-native/files/6135143/error.log)

[2021-03-24 15:11] JeffreyArts opened #201 "Can not install node-imagemagick-native on macOS"
**OS**
macOS Big Sur v11.2.3

**Imagemagick**
Version: ImageMagick 7.0.10-30 Q16 x86_64 2020-09-21

**Node**
v14.15.5

$ npm i --save node-imagemagick-native

gyp: Call to 'sw_vers | grep 'ProductVersion:' | grep -o '10.[0-9]*'' returned exit status 1 while in binding.gyp. while trying to load binding.gyp
gyp ERR! configure error
gyp ERR! stack Error: `gyp` failed with exit code: 1
gyp ERR! stack

[2021-04-01 23:48] brainthinks commented on #197
I was just able to get it to install, here's what I had to do:

[code]

I hope that helps

[2021-08-09 06:15] caraya commented on #201
The problem is that the code in binding.gyp is looking for a 10.x version of macOS `grep -o '10.[0-9]*` SInce most current versions of macOS are 11.x the build will fail.

The comment in line 12 of [binding.gyp](https://github.com/elad/node-imagemagick-native/blob/1831117866d41b87b19fb5f93564a0ea994aff12/binding.gyp#L12) confirms the problem

All other macOS-related configurations are also hardcod

[2022-02-22 13:13] #201 closed, assigned to nobody

[2022-03-02 10:43] KishorJena opened #202 "Support for React Native"

[2022-03-24 08:05] pme9 opened #203 "I need to read pixel data of psd file into an array of pixel using imagemagick, is there any api available for the same?"
I need to read pixel data of psd file into an array of pixel using imagemagick, is there any api available for the same?
which will return void* or byte array?

[2022-06-04 18:44] Sawiq commented on #163
I have a similar issue on linux (in CLI):

[code]

[2022-11-25 13:16] velara3 opened #204 "Installation error on Mac"
When I run `npm install imagemagick-native` I get the following errors.

[code]

I'm on OSX 13.0.1